* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

/* To remove number spinners from 'number' input field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="submit"] {
  margin: 1rem 0;
}

#container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#form-wrapper {
  display: flex;
  flex-direction: column;
}