* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#navbar {
  background-color: #e6e6e6be;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 30px -15px rgb(37, 37, 37);
}

#title {
  display: flex;
  padding: 0 20px;
}

#title small {
  margin: 4px 10px;
}

#nav-items {
  display: flex;
}
.nav-item {
  margin: 0 20px;
  transition: transform 0.05s ease-out;
}

.nav-item:hover {
  transform: scaleX(1.1);
}

.nav-item a {
  color: #6b6b6b;
  text-decoration: none;
}

.nav-item a:hover {
  color: rgb(0, 0, 0);
}

#profile-wrapper {
  padding: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background: #e6e6e6;
  min-height: 220px;
  max-width: 400px;
  box-shadow: 0px 5px 30px -3px rgb(37, 37, 37);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -1550%);
}

input[type="submit"] {
  cursor: pointer;
  background: none;
  margin: 20px 0;
  padding: 14px 30px;
  border-radius: 24px;
  border: 2px solid #2ecc71;
  transition: 0.25s;
}

input[type="submit"]:hover {
  background: #2ecc71;
}

input[type="number"], input[type="text"], input[type="date"] {
  margin: 10px;
  padding: 14px 10px;
  outline: none;
  background: none;
  border: 2px solid #3498db;
  color: rgb(73, 73, 73);
  text-align: center;
  border-radius: 24px;
}

input:focus::placeholder {
  color: transparent;
}

#form-wrapper {
  text-align: center;
  padding: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background: #e6e6e6;
  min-height: 220px;
  max-width: 400px;
  box-shadow: 0px 5px 30px -3px rgb(37, 37, 37);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#table-wrapper {
  text-align: center;
  padding: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background: #e6e6e6e7;
  min-height: 220px;
  max-width: 1200px;
  box-shadow: 0px 5px 30px -3px rgb(37, 37, 37);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#table2-wrapper {
  text-align: center;
  padding: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background: #e6e6e6e7;
  min-height: 220px;
  max-width: 600px;
  box-shadow: 0px 5px 30px -3px rgb(37, 37, 37);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}

th,
td,
tr {
  min-width: 150px;
  padding: 8px 7px;
  text-align: center;
}

tr {
  box-shadow: 0px 5px 20px -15px rgb(37, 37, 37);
}

tr:nth-child(odd) {
  background-color: rgba(144, 216, 238, 0.637);
}

tr:nth-child(even) {
  background-color: rgba(223, 223, 223, 0.808);
}

td {
  margin: 10px;
}

a {
  text-decoration: none;
  color:rgb(37, 37, 37)
}